* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #d960b9, #00bcd4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

input:focus {
    border-color: #020105e3;
}

.toggle-btn{
    margin-top: 10px;
    background-color: rgb(146, 13, 13);
}
.toggle-btn:hover{
    background-color: rgb(88, 22, 22);
}
button {
    width: fit-content;
    align-self: center;
    padding: 10px 15px;
    border: none;
    background: #1ab117;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #187513;
}

/* Weather Output Box */
.weather-result {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
}